 @import url('onOffSwitch.css');

/*.headerContainer {
    padding-top: 1%;  1:1 Aspect Ratio 
}*/

html, body {
 margin: 0;
}

/*.header {
    position: absolute;
    width: 100%; 
    display: flex;
    justify-content: center;

    text-align: center;
    left: 0px;
    top: 1px;
    
    overflow: hidden; 
    background-color: #01426A;
    padding: 10px;*
}*/ 

#my_centered_buttons {
    display: flex;
    justify-content: center;
}

.crystalStructure {
    width: 90px; 
    height: 90px;
   
    border:  solid #01426A;
    border-width: thin;
    display: inline-block;
    margin: 40px 10px;
}

.crystalStructure.selected {
    border-width: medium; 
    border-color: #FFB500; 
}



/*
.crystalScreen{
    left: 200px; 
    width:20%; 
    display: flex;
}
*/


/*
  div.crystalLabelClass {
    left:  290px; 
} 
*/

/*
div.indicatrixLabelClass {
    left:  560px; 
} 

div.crossSectionLabelClass {
    left:  700px; 
}
*/

/*
div.crossSectionLabelClass, div.indicatrixLabelClass, div.crystalLabelClass{
    position: absolute;
    width: 200px;
    height: 15px; 
}
*/

/*img.crystalLabel {
    position: absolute;
    left: "100px";
    height: 13%;
    width: 22%;
    top: 270px;
    left:200px;
    position: fixed;

}

img.crossSectionLabel {
    position: absolute;
    left: 700px;
    width: 22%;
    top: 270px;
    width: 13%;
    height: 13%;
    position: fixed;
} */

/*
img.crossSectionLabelCover {
    position: absolute;
    left: "100px";
    height: 13%;
    width: 22%;
    top: 270px;
    left:720px;
    width: 13%;
    height: 13%;
    position: fixed;
}
*/

/*img.indicatrixLabel {
    position: absolute;
    top: 270px;
    left:500px;*/
 
/*
    width: 5%;
    height:5%;
*/
/*    position: fixed;*/
    
}


/*crystalLabelDivId{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}*/
/*
img.enableCrossSectionsLabel {
    position: absolute;
    top: 60px;
    left: 20px; 
    width: 10%;
    height: 10%;
    position: fixed;
}
*/





