@import url('onOffSwitch.css');

html, body {
    margin: 0;
}

#my_centered_buttons {
    display: flex;
    justify-content: center;
}

.crystalStructure {
    width: 90px; 
    height: 90px;
    border:  solid #01426A;
    border-width: thin;
    display: inline-block;
    margin: 40px 10px;
}

.crystalStructure.selected {
    border-width: medium; 
    border-color: #FFB500; 
}


div {
    font-size: 150%;
}

img.crystalLabel {
    top: 270px;
    position: relative;
}

img.crossSectionLabel {
    position: absolute;
    left: 700px;
    width: 22%;
    top: 270px;
    width: 13%;
    height: 13%;
    position: fixed;
} 


.leftLabel{
    margin-left: calc(45% - 440px);
}


input.aboutButtonDiv, input.homeButtonDiv {
    width: 80px;
    height: 20px;
    margin-left: 24px; 
    margin-top: 24px; 
    padding: 5px;
    cursor: pointer;
    background: #01426A;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}

img.MacLogo{
    top: 100px; 
    width: 60%;
}